---
import { storyblokEditable } from '@storyblok/astro';

import type { ExploreStoryblok } from '@/lib/storyblok/types';
import Title from '../ui/Title.astro';
import Text from '../ui/Text.astro';
import Button from '../ui/Button.astro';
import { Image } from '@unpic/astro';
import { cn } from '@/lib/utils';
type Props = {
	blok: ExploreStoryblok;
};

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<div class="flex flex-col gap-12">
		<div class="flex flex-col gap-8 lg:flex-row lg:items-center lg:justify-between lg:gap-0">
			<div class="flex flex-col gap-4">
				<Title size={'large'}>{blok.title}</Title>
				<Text className="max-w-md" size={'small'}>{blok.description}</Text>
			</div>
			<div>
				<Button style={'filled'} color={'primary'} id={blok._uid} sbLink={blok.ctaLink}>
					{blok.ctaText}
				</Button>
			</div>
		</div>

		<div class="grid grid-cols-1 gap-2 lg:grid-cols-3">
			{
				blok.items.map((item) => (
					<div
						class={cn(
							'flex flex-col bg-[#EE3796] text-white',
							item.type === 'playing' && 'bg-brandTeal-100',
							item.type === 'dreaming' && 'bg-[#FCDB14] text-darkText-10'
						)}
					>
						<Image src={item.image.filename} alt={item.image.alt} width={985.5} height={562.5} />
						<div class="flex flex-col items-center justify-center gap-6 p-6 text-center">
							<div class="flex flex-col gap-1">
								<span class="font-display text-sm uppercase">{item.label}</span>
								<Title size={'medium'}>{item.title}</Title>
							</div>
							<Button
								className={cn('w-full text-white', item.type === 'dreaming' && 'text-darkText-10')}
								style={'outline'}
								color={item.type === 'dreaming' ? 'darkGreen' : 'white'}
								id="1"
								sbLink={item.ctaLink}
							>
								{item.ctaText}
							</Button>
						</div>
					</div>
				))
			}
		</div>
	</div>
</div>
