---
import type { TitleTextCtaStoryblok } from '@/lib/storyblok/types';
import { storyblokEditable } from '@storyblok/astro';

type Props = {
	blok: TitleTextCtaStoryblok;
};
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
	<p>{JSON.stringify(blok.component)}</p>
</div>
<!-- <div class={clsx('flex flex-col gap-4 justify-center', centered && 'text-center items-center')}>
	{
		title && title !== '' && (
			<Title type="h2" color={lightText ? 'light' : 'dark'} size={'medium'}>
				{title}
			</Title>
		)
	}
	{
		description && description !== '' && (
			<Text color={lightText ? 'light' : 'dark'}>{description}</Text>
		)
	} -->
<!-- {
		cta && cta.type === 'link' && (
			<Button className="max-w-fit" type={cta.type} ariaLabel={cta.label} href={cta.link}>
				{cta.text}
			</Button>
		)
	}
	{
		cta && cta.type === 'button' && (
			<Button
				className="max-w-fit"
				type={cta.type}
				ariaLabel={cta.label}
				dataElementName={cta.dataElementName}
			>
				{cta.text}
			</Button>
		)
	} -->
<!-- </div> -->
