---
import Section from '@components/ui/Section.astro';
import Container from '@components/ui/Container.astro';
import Title from '@/components/ui/Title.astro';
import { Image } from 'astro:assets';
import Highlights1 from '@assets/highlights/1.png';
import Highlights2 from '@assets/highlights/2.png';
import Highlights3 from '@assets/highlights/3.png';
import Highlights4 from '@assets/highlights/4.png';
import Highlights5 from '@assets/highlights/5.png';
import Text from '@/components/ui/Text.astro';
import Bg from '@assets/highlights/bg.png';
---

<Section
	padding={'xlarge'}
	color={'cream'}
	className="relative flex min-h-screen items-center justify-center overflow-hidden"
>
	<Container>
		<div class="relative z-10 flex flex-col gap-16">
			<div class="flex w-full flex-wrap gap-12 md:flex-nowrap">
				<div class="flex w-full justify-end md:w-1/3 xl:w-1/2">
					<div class="h-96 w-full select-none md:h-auto md:w-[338px]">
						<Image src={Highlights1} alt="Highlights 1" class={'object-cover h-full'} />
					</div>
				</div>
				<div class="flex w-full items-center px-12 md:w-2/3 xl:w-1/2">
					<Title size="large" className="leading-normal">
						A Year to Remember: <br /><span class="text-5xl font-bold xl:text-6xl">Leeds 2023</span>
					</Title>
				</div>
			</div>
			<div class="flex w-full flex-wrap gap-12 md:flex-nowrap">
				<div class="flex w-full justify-end md:w-1/3">
					<div class="h-64 w-full select-none md:mt-10 md:h-auto md:w-[282px] md:pr-12">
						<Image src={Highlights2} alt="Highlights 2" class={'object-cover h-full'} />
					</div>
				</div>
				<div class="flex w-full items-center justify-start md:w-2/3">
					<Text size={'superLarge'} className="max-w-2xl">
						From street performances to grand exhibitions, Leeds unleashed a vibrant tapestry of
						cultural experiences. Dive in to relive the moments.
						<br /><br />
						 Art in Unexpected Places: Discovering creativity at every corner, from staircases to
						bus stops.
					</Text>
				</div>
			</div>

			<div class="flex w-full flex-wrap gap-12 md:flex-nowrap">
				<div class="md:w-5/8 flex w-full items-end justify-end md:pb-12">
					<Text size={'superLarge'} className="max-w-xl">
						Celebrations Amplified: Leeds residents coming together, celebrating unity, diversity,
						and art.
					</Text>
				</div>
				<div class="md:w-3/8 -mt-20 mr-24 hidden w-full items-center justify-end md:flex">
					<div class="h-64 w-full select-none md:mt-10 md:h-auto md:w-[582px] md:pr-12">
						<Image src={Highlights3} alt="Highlights 3" class={'object-cover h-full'} />
					</div>
				</div>
			</div>

			<div class="flex w-full flex-wrap gap-12 md:flex-nowrap">
				<div class="flex w-full justify-end md:w-1/3">
					<div class="h-64 w-full select-none md:mt-10 md:h-auto md:w-[282px] md:pr-12">
						<Image src={Highlights4} alt="Highlights 4" class={'object-cover h-full'} />
					</div>
				</div>
				<div class="flex w-full items-center justify-start md:w-2/3">
					<Text size={'superLarge'} className="max-w-2xl">
						Performances Beyond Stages: Musicians, dancers, and artists took to the streets, making
						the entire city a stage.
					</Text>
				</div>
			</div>

			<div class="flex w-full flex-wrap gap-12 md:flex-nowrap">
				<div class="md:w-5/8 flex w-full items-center justify-end">
					<Text size={'superLarge'} className="max-w-2xl">
						Picnic in the Park: Families and friends cherishing sunny days with laughter, food, and
						spontaneous performances.
					</Text>
				</div>
				<div class="md:w-3/8 -mt-12 flex w-full items-center justify-end">
					<div
						class="hidden h-64 w-full select-none md:mr-48 md:mt-10 md:block md:h-auto md:w-[482px]"
					>
						<Image src={Highlights5} alt="Highlights 5" class={'object-cover h-full'} />
					</div>
				</div>
			</div>
		</div>
		<div class="absolute right-0 top-12 z-0 h-[100vh] w-[100%] select-none md:block">
			<Image src={Bg} alt="Highlights Background" class={'object-contain w-full'} />
		</div>
	</Container>
</Section>
