---
import { storyblokEditable } from '@storyblok/astro';

import type { ColumnBlockStoryblok } from '@/lib/storyblok/types';
import { Image } from '@unpic/astro';
import Text from '@/components/ui/Text.astro';
import { parseStoryblokLink } from '@/lib/storyblok/helpers';

export type ColumnBlock = Props;

type Props = {
	blok: ColumnBlockStoryblok;
};

const { blok } = Astro.props;

const link = blok.ctaLink ? parseStoryblokLink(blok.ctaLink) : '#';
const isExternal = link.startsWith('http');
const htmlAttributes = isExternal
	? {
			target: '_blank',
			rel: 'noopener noreferrer',
	  }
	: {};
---

<a
	id={blok._uid}
	href={link}
	{...htmlAttributes}
	class="flex w-full items-center gap-6 md:w-[calc(50%-3rem)] md:justify-center xl:w-full"
	{...storyblokEditable(blok)}
>
	<div class="h-16 w-16 flex-shrink-0 rounded-full bg-white p-4">
		<Image src={blok.image.filename} layout="fullWidth" alt="" aria-labelledby={blok._uid} />
	</div>
	<Text size={'small'} className="font-display">
		{blok.text}
	</Text>
</a>
