---
import { parseStoryblokLink, extractDimensions } from '@/lib/storyblok/helpers';
import type { Asset, Link } from '@/lib/storyblok/types';
import { Image } from '@unpic/astro';
type Props = {
	sbLink: Link;
	image: Asset;
	background?: boolean;
};

const { sbLink, image, background = true } = Astro.props;

const link = sbLink ? parseStoryblokLink(sbLink) : '#';
const isExternal = link.startsWith('http');
const htmlAttributes = isExternal
	? {
			target: '_blank',
			rel: 'noopener noreferrer',
	  }
	: {};

const dimensions = extractDimensions(image.filename, 500);
---

<a {...htmlAttributes} class="flex w-28 items-center" href={link} class="underline">
	{
		dimensions ? (
			<Image
				src={image.filename}
				class="w-full object-contain"
				alt={image.alt ? image.alt : ''}
				background={background ? 'auto' : 'none'}
				width={dimensions.width}
				height={dimensions.height}
			/>
		) : (
			<Image
				src={image.filename}
				class="w-full object-contain"
				alt={image.alt ? image.alt : ''}
				background={background ? 'auto' : 'none'}
				layout="fullWidth"
			/>
		)
	}
</a>
