---
import { storyblokEditable } from '@storyblok/astro';

import type { MediaLinkStoryblok } from '@/lib/storyblok/types';
import { Image } from '@unpic/astro';
import Text from '@/components/ui/Text.astro';
import Button from '@/components/ui/Button.astro';
import { extractDimensions } from '@/lib/storyblok/helpers';

export type MediaLinkBlock = Props;
type Props = {
	blok: MediaLinkStoryblok;
};

const { blok } = Astro.props;
const dimensions = extractDimensions(blok.image.filename);
---

<div {...storyblokEditable(blok)} class="flex w-full flex-col gap-4 bg-white p-8">
	<div class="w-36">
		{
			dimensions ? (
				<Image
					src={blok.image.filename}
					class="w-full object-contain"
					alt={blok.image.alt ? blok.image.alt : ''}
					background="auto"
					width={dimensions.width}
					height={dimensions.height}
				/>
			) : (
				<Image
					src={blok.image.filename}
					class="w-full object-contain"
					alt={blok.image.alt ? blok.image.alt : ''}
					background="auto"
					layout="fullWidth"
				/>
			)
		}
	</div>
	{
		blok.title && (
			<Text className="font-display" size={'extraLarge'}>
				{blok.title}
			</Text>
		)
	}
	<Button
		sbLink={blok.link}
		id={blok._uid}
		style={'ghost'}
		className="justify-start px-0 text-left text-sm"
	>
		{blok.linkText}
	</Button>
</div>
